body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

p {
    text-align: justify;
}


/* Your app custom files in this file */

.searchbar {
    background: #F7F7F8 none repeat scroll 0% 0%;
}

.searchbar input[type="search"] {
    background-color: #C9C9CE;
}

.navbar-inner.navbar-on-left {
    display: none;
}

.file-button {
    position: relative;
    overflow: hidden;
}

.file-button input {
    font-size: 10000px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.view-left {
    border-right: 1px solid #b2b2b2;
}

.list-block.media-list .item-media {
    display: none;
}

.list-block .item-media + .item-inner {
    margin-left: 0px;
}

.list-block .unread {
    font-weight: bold;
}

.list-block .unread .item-after {
    color: #2196F3;
}

.list-block .unread .item-after i {
    color: #000;
}

.list-block .unread .item-text {
    font-weight: normal;
}

.list-block.media-list .unread .item-title {
    font-weight: bold;
}

.list-block .unread .item-title {
    font-weight: bold;
}

.list-block .item-after {
    text-align: left;
    white-space: pre-line;
    min-height: 28px;
    max-height: none;
}

.list-block .item-after i {
    padding-left: 13px; 
    padding-right: 13px;
    font-size: 24px;
    padding-top: 0px;
}

.list-block .item-subtitle span {
    margin-right: 7px;
}

.list-block.media-list .item-link .item-title-row {
    padding-right: 0px;
    background: none; 
}
/* This will fix flicker navbar in left panel view */

.panel-left .page-content {
    padding: 0px;
}

.panel-left {
    /*margin-top: 44px;*/
    padding-top: -10px; 
    padding-bottom: 0px;
}

.panel-left .navbar {
    margin-top: 0px;
    position: relative;
}

.middle-center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-right: -50%;
    transform: translate3d(-50%, -50%, 0);
}

.middle-center p {
    text-align: center;
}

.bg-purple {
    background-color: #9C27B0;
}

.infinite-scroll-preloader {
    margin-top: -20px;
    margin-bottom: 10px;
    text-align: center;
}

.infinite-scroll-preloader .preloader {
    width: 34px;
    height: 34px;
}

/* Because we have panels-overlay inside of .views we need to fix its open position for right panel */

body.with-panel-right-reveal .panel-overlay {
    margin-left: 0;
}

.list-block ul ul {
    padding-left: 0px;
}

.list-block .media-list .item-link .item-inner {
    padding-right: 10px;
    background-image: none;
}

.tabbar-labels a.link {
    padding-top: 0px;
}


/* iPad Vertical */

@media (min-width: 569px) {
    .panel.panel-left.panel-cover {
        width: 320px;
        left: -320px;
    }
    body.with-panel-left-cover .panel-left {
        -webkit-transform: translate3d(320px, 0, 0);
        -ms-transform: translate3d(320px, 0, 0);
        transform: translate3d(320px, 0, 0);
    }
}


/* iPad Horizontal */

@media (min-width: 769px) {
    body .panel.panel-left.panel-cover {
        left: 0;
        width: 320px;
        display: block;
    }
    body.with-panel-left-cover .panel-left {
        -webkit-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .view-main {
        float: right;
        width: -webkit-calc(100% - 320px);
        width: -moz-calc(100% - 320px);
        width: -ms-calc(100% - 320px);
        width: calc(100% - 320px);
    }
    /* Let's hide panel-opener when left panel is visible */
    .view-main .navbar .open-panel {
        display: none;
    }
    .view-left .navbar .open-panel {
        display: none;
    }
    .panel-left .page {
        margin-top: 0px;
        padding-bottom: 0px;
    }
    .list-block.media-list .item-media {
        display: block;
    }
    .list-block .item-media + .item-inner {
        margin-left: 15px;
    }
}
